body {
    margin: 0;
}

.first-container {
    text-align: center;
    background-image: url("images/service_34.jpg");
    background-size: cover;
}

.filter {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 100px 0;
}

.filter h1 {
    display: inline-block;
    border-bottom: solid 1px #fff;
    margin: 0 0 1rem;
    font-size: 5rem;
}

.filter p {
    margin: 0;
}


.left-container {
    float: left
}

.right-container {
    float: right
}

.container h1 {
    font-size: 5rem;
}
.container h2 {
    font-size: 4rem;
}
.container h3 {
    font-size: 3rem;
}
.container p {
    font-size: 2rem;
}

.left-container {
    text-align: center;
    width:      50%;
    height:     100%;
    margin:     0 auto;
}
.right-container {
    text-align: center;
    width:      50%;
    height:     100%;
    margin:     0 auto;
}

p.left-container img {
    width:  50%;
}
p.right-container img {
    width:  50%;
}

